body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-form-item-label {
  line-height: 15px !important;
}

.ant-input {
  color: rgba(0, 0, 0, 0.65) !important;
}

.bla {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.ant-select-search--inline {
  margin-top: -5px !important;
}

#root {
  height: 92%;
}

.hidden {
  display: none !important;
}

.hover tr:hover {
  background-color: #096dd9 !important;
  color: white;
}

.tb div {
  font-size: 12px;
}

.ant-select-search__field {
  margin-top: 7px;
}

.table-filtros input {
  font-size: 12px !important;
}

.table-filtros .ant-input-disabled {
  background-color: white !important;
}